body {
  background-color: rgb(255, 255, 255);
}

body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body {
  text-align: center;
}
body {
  color: rgb(255, 255, 255);
}

h1 {
  color: rbg(255, 255, 255);
}
a:link, a:visited {
  background-color: rgba(255, 255, 255, 0.164);
  color: rgb(255, 255, 255);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgba(132, 134, 4, 0.479);
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: bold;
}

a:active {
  text-decoration: bold;
}
h1 {
  border-bottom: 3px dotted rgba(252, 252, 252, 0.459);
}
head {
  border-bottom: 3px outset rgba(255, 254, 254, 0.616)

}
h2 {
  border-bottom: 3px outset rgba(255, 255, 255, 0.616)
}
body{

background-repeat:no-repeat;
background-position: center center;
background-image:url(./images/doot.png);
color:#FFF;
font-family:Arial, Helvetica, sans-serif;
min-height:125%;
}
