    body {
        background-color: rgb(255, 255, 255);
    }
    
    body {
        font-family: "Comic Sans MS", "Comic Sans", cursive;
    }
    
    body {
        text-align: center;
    }
    body {
  background: lightblue url("synthwave-sun-mountains-4k-op-1600x900.jpg") no-repeat fixed center;
    }